.header {
  height: 59px;
}

.header__brand {
  margin-left: 30px !important;
}

.no-margin {
  margin: 0;
}

.social-link {
  text-decoration: none;
  padding: 15px;
}

.social-bar {
  background-color: #222;
  margin-right: 30px !important;
}

.social-link:hover {
  text-decoration: none;
}

.social-bar__icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  fill: #c1c1c1;
}

.social-bar__icon:hover {
  fill: #ffffff;
}

/*--------carousel--------------*/

.carousel {
  height: 554px;
}

.carousel-indicators>li {
  background-color: #ffffff;
}

.carousel-indicators .active {
  background-color: #00c8c8;
  border: 0;
}

.carousel-caption {
  top: 255px;
  z-index: 10;
}

.carousel-control {
  width: 40%;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .glyphicon-circle-arrow-left, .carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right {
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
  font-size: 50px;
}

.carousel .item {
  height: 554px;
}

.carousel-inner>.item>img {
  position: absolute;
  top: -260px;
  left: 0;
  min-width: 100%;
  height: 813px;
}

/*--------menu--------------*/

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: absolute;
  background-color: #efefef;
  width: 100%;
  height: 73px;
  top: 59px;
  z-index: 100;
  border-bottom: 4px solid #efefef;
}

.menu__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 1072px;
}

.menu__link {
  color: #818181;
  padding: 15px;
  padding-bottom: 27px;
}

.menu__link:hover, .menu__link:focus {
  text-decoration: none;
  color: #00c8c8 !important;
  border-bottom: 2px solid #00c8c8;
}

.search__field {
  width: 210px;
  /*margin-top: 10px;*/
  border-radius: 0px;
  background-color: #ffffff !important;
  background: url("./images/search.png") no-repeat 90%;
}

/*--------section one--------------*/

.section-one {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.section-one__main-text {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 1072px;
  margin-top: 23px;
  margin-bottom: 35px;
  color: #818181;
  text-align: center;
}

.section-one__top-text {
  margin: auto;
  margin-top: 20px;
}

.section-one__tabs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  ;
  width: 1072px;
  min-height: 300px;
  color: #818181;
  text-align: center;
}

.section-one__tab {
  width: 325px;
  /*margin: 0 22px;*/
}

.section-one__tab-two {
  align-self: flex-end;
}

.section-one__icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  fill: #818181;
}

.section-one__icon:hover {
  fill: #00c8c8;
}

/*--------section two--------------*/

.section-two {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 51px;
  margin-bottom: 30px;
  background: url("./images/section2.png") no-repeat;
  background-size: 100% 100%;
}

.section-two__background-image {
  margin-top: 130px;
}

.section-two__container {
  width: 1072px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: #818181;
  z-index: 100;
}

.section-two__item {
  width: 333px;
  border: 1px solid #818181;
  margin-bottom: 30px;
}

.section-two__item-text {
  padding: 20px;
  margin-top: -20px;
}

/*--------section customer--------------*/

.section-customer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.section-customer__container {
  display: flex;
  width: 1072px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

/*--------section info--------------*/

.info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 50px;
  background-color: #4b4d4e;
  color: #c0c0c0;
}

.info__container {
  display: flex;
  width: 1072px;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.info__item {
  max-width: 205px;
}

.info__img {
  display: inline-block;
  fill: #00c8c8;
}

.info__clock {
  width: 14px;
  height: 14px;
}

.info__date_margin {
  margin-left: 5px;
  color: #898989;
}

.info__contact-img {
  width: 16px;
  height: 16px;
}

.info__contacts {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.info__contact-text_margin {
  margin-left: 20px;
}

.info__link {
  color: #c0c0c0;
}

.info__link:hover {
  text-decoration: none;
  color: #ffffff;
}

.info__h3 {
  color: #ffffff;
}

.info__hr {
  border: none;
  color: #898989;
  background-color: #898989;
  height: 1px;
}

.info mark {
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  padding: 0px;
}

/*-------------footer-------------*/

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: #252323;
  color: #c1c1c1;
}

.footer__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 1072px;
}

@media only screen and (max-width: 700px) {
  .section-two__background-image {
    margin-top: 200px;
  }
  .section-two__container {
    width: 100%;
    flex-flow: column wrap;
  }
}
